{
  "@type": "fuzzyfile",

  "fuzzes": [
    {
      "str": "Lokalbokning",
      "href": "href://datasektionen.se/sektionen/metadorerna/lokalbokning"
    },{
      "str": "Kapplöpning",
      "href": "href://datasektionen.se/sektionen/metadorerna/kapplopning"
    }
  ]
}
