{
  "@type": "fuzzyfile",

  "fuzzes": [
    {
      "name": "META-TV ▶ Kapplöpning"
      "str": "Kapplöpning hästar ponies horse racing",
      "href": "href://datasektionen.se/sektionen/metadorerna/kapplopning"
    }
  ]
}
