{
  "@type": "fuzzyfile"
  "fuzzes": [
    {
      "name": "Lokalbokning - Datasektionen.se",
      "str": "lokalbokning",
      "color": "#e83d84",
      "href": "https://datasektionen.se/sektionen/lokalbokning"
    }
  ]
}
