<style>
  html,
  body,
  div,
  form,
  fieldset,
  legend,
  label {
    margin: 0;
    padding: 0;
  }

  * {
    line-height: normal;
  }

  header {
    background-color: #212121;
    font-family: Lato, Arial;
    position: fixed;
    right:0; left: 0; top: 0;
    z-index: 9000;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
  }

  #widther {
    max-width: 1240px;
    margin: auto;
    position: relative;
  }


  #superdelta {
    position: relative;
    background-color: #FDDE00;
    border: none;
    font-size: 14px;
    height: 50px;
    padding: 0;
    verticala-align: top;
    width: 50px;
    top: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  #superdelta_img {
    margin-top: 10px;
    height: 31px;
    margin-left: 1.5px;
  }

  #methone_nav, #methone_compact_naw {
    display: inline-block;
    margin-left: 9px;
    vertical-align: top;
  }

  .methone_right_btn {
    display: block;
    position: relative;
    background-color: #FDDE00;
    border: none;
    font-size: 14px;
    padding: 0;
    verticala-align: top;
    width: 100px;
    font-family: Lato, Arial;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }

  #leftside {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .methone_right_btn span {
    display: block;
    left: 0;
    text-align: center;
    padding: 17px 11px 16px 11px;
    text-decoration: none;
  }

  #gobox {
        margin: 0px;
        padding: 0px;
        position: fixed;
        top: 50px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 9006;
        background-color: rgba(25, 25, 25, 0.8);
  }
  #inner_gobox {
    padding: 0px;
    margin: 40px auto 0px;
    max-width: 1000px;
    transition: all 2s ease-out;
    opacity: 1;
  }
  #gobox input {
    width: 100%;
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0;
    padding: 5px 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    color: #FAFAFA;
    outline: none;
  }
  #gobox ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: height 200ms ease-out;
  }
  #gobox li {
    padding: 10px;
    font-family: Lato, sans-serif;
  }
  #gobox a {
    color: white;
    text-decoration: none;
    display: block;
  }


  #meth_tip_ux {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    left: -30px;
    text-decoration: none;
    color: #666666;
    transition: opacity 2s ease-out;
  }
  .m_column {
    float:left;
    width:460px;
  }

  .m_column.m_last {
    float: right;
  }
  .m_h3 {
    line-height: normal;
    font-family: Lato;
    color: #BBB;
    margin-bottom: 25px;
    display: block;
  }
  #m_help {
    line-height: normal;
    font-family: Lato, sans-serif;
    color: #AAA;
    display: block;
    float: right;
    font-size: smaller;
  }
  #fuzzy_results {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
</style>
<div id="gobox">
  <div id="inner_gobox">
    <span id="m_help">▲ ▼ navigation &emsp; ✖ esc to close &emsp;  ⌨ Alt-Enter to open in new tab </span>
    <div id="input_wrap">
      <input type="text" id="txt_fuzzy" placeholder="Search for systems, pages or keywords..." >
    </div>
    <div class="m_column" style="width:580px">

      <span class="m_h3">MY SOFTWARE</span>
      <ul id="fuzzy_results">
        <!-- Use listitem.ejs here -->
      </ul>
    </div>
    <div class="m_column m_last" style="width:380px">
      <span class="m_h3">MOST USED</span>
      <ul id="quick_access">
        <!-- Use listitem.ejs here -->
      </ul>
    </div>
  </div>
</div>

<header id="methone_header">
  <div id="widther">
    <a href="#" id="superdelta">
      <svg id="superdelta_img" width="26px" height="37px" viewBox="0 0 26 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <title>Konglig Datasektionens Delta</title>
        <desc>Konglig Datasektionens logotype</desc>
        <g id="delta_logo" stroke-width="0.75" sketch:type="MSArtboardGroup" transform="translate(-19.000000, -14.000000)">
          <path d="M43.7787458,33.592285 C42.6511301,25.8619776 36.4053307,24.9682463 34.9922796,24.5299077 C32.3456685,23.7086951 27.8894062,23.9803328 27.4482787,20.1247049 C26.86666,15.0454778 30.7276382,17.5429168 33.2996277,17.7418823 C35.8708494,17.9408478 36.0983993,15 36.0983993,15 C36.0983993,15 35.4851508,16.5550034 30.2855895,15.2896138 C25.0858747,14.0243779 24.4670987,18.2920717 24.4242603,19.3975207 C24.3005051,22.5931057 26.3630408,24.1203001 26.5793821,24.9886806 C26.6736571,25.3657163 19.4190838,26.7772187 20.0373992,36.3168058 C20.6555611,45.8573148 26.5135123,49.7624152 31.054223,49.9901116 C35.5953943,50.2181153 45.6108143,46.5551535 43.7787458,33.592285 L43.7787458,33.592285 Z M40.3377062,39.8597738 C36.6622072,53.7530938 25.7316742,50.3181357 23.0692483,40.126495 C20.4789873,30.2109477 27.5310381,25.431782 27.5310381,25.431782 C27.5310381,25.431782 29.0851947,26.0448107 30.8936176,26.5548998 C31.9510644,26.8531175 43.4696649,28.0210985 40.3377062,39.8597738 L40.3377062,39.8597738 Z"
          id="path2802-copy"></path>
        </g>
      </svg>
    </a>
    <div id="methone_nav">
      <!-- Use menuitem.ejs -->
      <!--<a class="navelement" href="http://datasektionen.se/">
          Nyheter/Events
        </a>-->
    </div>

    <div id="leftside">

      <a id="login" class="methone_right_btn" href="http://datasektionen.se/login">
        <span id="login_text">
          Logga In
        </span>
      </a>
      <a id="methone_menu_btn" class="methone_right_btn" href="#">
        <span>
          Menu
        </span>
      </a>
    </div>
  </div>
</header>
