<style>
  html,
  body,
  div,
  form,
  fieldset,
  legend,
  label {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #212121;
    font-family: Lato, Arial;
    position: fixed;
    right:0; left: 0; top: 0;
    z-index: 9000
  }

  #widther {
    max-width: 900px;
    margin: auto;
    position: relative;
  }


  #superdelta {
    position: relative;
    background-color: #FDDE00;
    border: none;
    font-size: 14px;
    height: 50px;
    padding: 0;
    verticala-align: top;
    width: 50px;
    top: 0;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  #superdelta_img {
    margin-top: 10px;
    height: 31px;
    margin-left: 1.5px;
  }

  #methone_nav {
    display: inline-block;
    margin-left: 9px;
    vertical-align: top;
  }

  #login {
    display: block;
    position: relative;
    background-color: #FDDE00;
    border: none;
    font-size: 14px;
    padding: 0;
    verticala-align: top;
    width: 100px;
    font-family: Lato, Arial;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }

  #leftside {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #login_text {
    display: block;
    left: 0;
    text-align: center;
    padding: 17px 11px 16px 11px;
    text-decoration: none;
  }

  #gobox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9006;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 200ms ease-out;
  }
  #inner_gobox {
      width: 600px;
      margin: 200px auto 0 auto;
      background: aliceblue;
      transition: all 2s ease-out;
      opacity: 0;
  }
  #input_wrap {
    background: #E91E63;
    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  }
  #gobox input {
    width: 560px;
    font-size: 28px;
    margin: 20px;
    padding: 5px 0;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.35);
    color: #FAFAFA;
    outline: none;
    text-transform: uppercase;
  }
  #gobox ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: height 200ms ease-out;
    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  }
  #gobox li {
    padding: 10px;
    font-family: Lato, sans-serif;
  }
  #gobox a {
    color: white;
    text-decoration: none;
    display: block;
  }



  #startmenu {
    background-color: #212121;
    width: 100%;
    position: absolute;
    top:50px;
    display: none;
    opacity: 0;
    background-color: #FAFAFA;
    left: 0;
    width: 300px;
    box-shadow: 0 0 20px black;
    bottom: 0;
  }
  #startmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #meth_tip_ux {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    left: -30px;
    text-decoration: none;
    color: #666666;
    transition: opacity 2s ease-out;
  }
</style>
<div id="gobox">
  <div id="inner_gobox">
    <div id="input_wrap">
      <input type="text" id="txt_fuzzy" >
    </div>
    <ul id="fuzzy_results">
      <!-- Use listitem.ejs here -->
    </ul>
  </div>
</div>


  <div id="startmenu">
    <ul>
    </ul>
  </div>

<header id="methone_header">
  <div id="widther">


    <a href="#" id="superdelta">
      <span id="meth_tip_ux">⌘+K</span>
      <svg id="superdelta_img" width="26px" height="37px" viewBox="0 0 26 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <title>Konglig Datasektionens Delta</title>
        <desc>Konglig Datasektionens logotype</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="Landing" sketch:type="MSArtboardGroup" transform="translate(-19.000000, -13.000000)" stroke="#000000" stroke-width="0.5" fill="#000000" stroke-linejoin="round">
            <g id="bar" sketch:type="MSLayerGroup" transform="translate(0.000000, -1.000000)">
              <g id="Rectangle-19-+-glyphicons-609-newspaper-Copy" sketch:type="MSShapeGroup">
                <path d="M43.7787458,33.592285 C42.6511301,25.8619776 36.4053307,24.9682463 34.9922796,24.5299077 C32.3456685,23.7086951 27.8894062,23.9803328 27.4482787,20.1247049 C26.86666,15.0454778 30.7276382,17.5429168 33.2996277,17.7418823 C35.8708494,17.9408478 36.0983993,15 36.0983993,15 C36.0983993,15 35.4851508,16.5550034 30.2855895,15.2896138 C25.0858747,14.0243779 24.4670987,18.2920717 24.4242603,19.3975207 C24.3005051,22.5931057 26.3630408,24.1203001 26.5793821,24.9886806 C26.6736571,25.3657163 19.4190838,26.7772187 20.0373992,36.3168058 C20.6555611,45.8573148 26.5135123,49.7624152 31.054223,49.9901116 C35.5953943,50.2181153 45.6108143,46.5551535 43.7787458,33.592285 L43.7787458,33.592285 Z M40.3377062,39.8597738 C36.6622072,53.7530938 25.7316742,50.3181357 23.0692483,40.126495 C20.4789873,30.2109477 27.5310381,25.431782 27.5310381,25.431782 C27.5310381,25.431782 29.0851947,26.0448107 30.8936176,26.5548998 C31.9510644,26.8531175 43.4696649,28.0210985 40.3377062,39.8597738 L40.3377062,39.8597738 Z"
                id="path2802-copy"></path>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </a>
    <nav id="methone_nav">
      <!-- Use menuitem.ejs -->
      <!--<a class="navelement" href="http://datasektionen.se/">
          Nyheter/Events
        </a>-->
    </nav>
    <div id="leftside">
      <a id="login" href="http://datasektionen.se/login">
        <span id="login_text">
          Logga In
        </span>
      </button>
    </div>
  </div>
</header>
