<style>
li {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  margin-bottom:25px;
  overflow:hidden;
  height: 70px;
  display: inline-block;
  width: 100%;

}
  .mh_name {
    font-family: Lato, sans-serif;
    color: #FFF;
    text-decoration: none !important;
    font-size: 1.2em;
    text-overflow: ellipsis;
    height: 50px;
    white-space: nowrap;
    padding: 25px 20px;
    display: block;
    float: left;
    width: 1px;
  }
  .mh_cmd {
    font-family: Lato, sans-serif;
    color: #BBB;
    font-size: .5em;
    line-height: 8;
    text-decoration: none;
    display: block;
    float: right;
    position: relative;
    right: 20px;
  }

  a {
    text-decoration: none;
  }
</style>

<li >
  <a href="#{href}">
    <span style="background: #{color}; width: 25px;  display: block; height:100%;float: left; opacity: 0.8">&nbsp;</span>
    <span class="mh_name">#{name}</span>
    <span class="mh_cmd">#{cmd}</span>
  </a>
</li>
