<style>
.navelement {
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #f1f1f1 !important;
  text-decoration: none;
  padding: 17px 11px 16px 11px;
  cursor: pointer;
}
</style>


<a class="navelement" href="#{href}">
    #{str}
</a>
