<style>
li {
  color: white;
  font-family: Lato,sans-serif;
  float: none;
  clear: both;
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0 5px 10px;
}
</style>
<li>#{name}</li>
