<style>
span {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
</style>
<a href="#{href}">
  <li style="padding: 0; margin: 17px 24px;text-decoration: none;">
    <span>#{name}</span>
  </li>
</a>
