<style>
span {
  color: white;
  text-decoration: none;
  display: block;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-size: small;
  padding: 5px;
  background: rgba(0,0,0,.2);
}
</style>
<a href="#{href}">
  <li style="padding: 0; margin: 5px 0 0 5px;min-width:100px; height: 100px; display: block; float:left;background: #{color};overflow: hidden;">
    <span>#{name}</span>
  </li>
</a>
