<html>


<style>
* {
  margin: 0;
  padding: 0;
}
button {
  border-radius: 100px !important;
}
</style>
<body>
  <div id="h"></div>
  <script>
    window.tbaas_conf = {
      system_name: "test-tv",
      target_id: "h",
      bar_color: "#334455",
      primary_color: "#BA68C8",
      secondary_color: "#F3E5F5",
      delta_invert: true,
      login_text: "Login",
      fuzzy_only: false,
      json_rpc_api_url: "/rpc",
      topbar_items: [
        {
          str: "About us",
          href: "http://my.system.data.se/about-us"
        },
        {
          str: "Expositions",
          href: "http://my.system.data.se/about-us"
        },
        {
          str: "Tour dates",
          href: "http://my.system.data.se/about-us"
        },
        {
          str: "Tour dates",
          href: "http://my.system.data.se/about-us"
        },
        {
          str: "Tour dates",
          href: "http://my.system.data.se/about-us",
          new_window: true
        }
      ]
    }

    document.body.addEventListener("methone:term:load", function(event) {
      Methone.dispatch.register("alert", function(cmd, term) {
        if(cmd.length < 2) {
          term.print("Usage: alert MESSAGE");
          return;
        }
        alert(cmd[1]);
      });
    });
  </script>
  <script src="/bar.js"></script>

  <img src="http://datasektionen.se//static/gfx/bg.jpg" width="100%">


</body>


</html>
