<html>
<style>
* {
  margin: 0;
  padding: 0;
}
button {
  border-radius: 100px !important;
}
</style>
<body>
  <div id="h"></div>
  <script>
    window.tbaas_conf = {
      system_name: "test-tv",
      target_id: "h",
      primary_color: "#BA68C8",
      secondary_color: "#F3E5F5",
      fuzzyfile: "/Fuzzyfile",
      fuzzy_only: false,
      topbar_items: [
        {
          str: "About us",
          href: "http://my.system.data.se/about-us",
          active: true
        },
        {
          str: "Expositions",
          href: "http://my.system.data.se/about-us",
          active: true
        },
        {
          str: "Tour dates",
          href: "http://my.system.data.se/about-us",
          active: true
        }
      ]
    }
  </script>
  <script src="/bar.js"></script>
</body>


</html>
