<html>
<style>
* {
  margin: 0;
  padding: 0;
}
</style>
<body>
  <div id="h"></div>
  <script>
    window.tbaas_conf = {
      system_name: "test-tv",
      target_id: "h",
      system_color: 0xE2007F,
      fuzzy_file: "http://my.system.se/Fuzzyfile",
      topbar_items: [
        {
          name: "About us",
          href: "http://my.system.data.se/about-us",
          active: true
        },
        {
          name: "Expositions",
          href: "http://my.system.data.se/about-us",
          active: true
        },
        {
          name: "Tour dates",
          href: "http://my.system.data.se/about-us",
          active: true
        }
      ]
    }
  </script>
  <script src="/bar.js"></script>
</body>


</html>
